.Row
- flash.each do |message_type, message|
  %div{:class => "alert alert-#{message_type}", style: "margin-top:20px;"}= message

//- flash.each do |name, msg|
//  - if msg.is_a?(String)
//    %div{:class => "alert alert-#{name == :notice ? "success" : "error"}"}
//      %a.close{"data-dismiss" => "alert"} ×
//      = content_tag :div, msg, :id => "flash_#{name}"
