%fieldset
  .form-inline{role: "form"}
    = f.collection_select :inden_card_id, IndenCard.all.order(:serial_no), :id, :details, :include_blank => (t 'helpers.prompt.select_inden_card'), :html_options => {:class => 'selectpicker'}
    = f.text_field :petrol_ltr, :class => 'text_field input-medium', :placeholder => 'Petrol in Ltr'
    = f.text_field :diesel_ltr, :class => 'text_field input-small', :placeholder => 'Diesel in Ltr'
    = f.hidden_field :_destroy
    /= link_to_remove_fields (fa_icon "trash-o"), f     
