.navbar
  %ul.nav
    %li= link_to(fa_icon("print", text: (t 'actions.print')), "javascript:print()")

- provide(:title, 'UnitFuel')
- model_class = UnitFuel
.page-header

  %h1= t 'menu.fuel_usage_by_vehicle_vessel', :default => model_class.model_name.human  

%table.table.table-bordered
  %thead
    %tr
      %th{colspan: "3"} PETROL Usage
  %tbody
    %tr
      %td Cars
      %td=litres(@car_usage)
    %tr
      %th{colspan: "3"} DIESEL Usage
    %tr
      %td Lorries
      %td=litres(@lorry_usage)
    %tr
      %td Busses
      %td=litres(@bus_usage)
    %tr
      %td Vessel
      %td=litres(@vessel_usage)

%table.table.table-bordered
  %thead
    %tr
      %th{colspan: "4"} DIESEL : Vessel Usage Breakdown
    %tr
      %th Pennent No
      %th Vessel name 
      %th Amount
  %tbody
    - @vessels.sort_by(&:unit_id).each do |vessel_usage|
      %tr
        %td=vessel_usage.unit.vessel.pennent_no
        %td=vessel_usage.unit.name
        %td=litres(vessel_usage.d_vessel)

%table.table.table-bordered
  %thead  
    %tr
      %th AVCAT Usage
      %td=litres(@avcat_usage)
      
%table.table.table-bordered
  %tbody
    %tr
      %th{colspan: "3"} AVCAT : Vessel Usage Breakdown
    %tr
      %th Pennent No
      %th Vessel Name
      %th Amount
    - @avcat_vessel.each do |avcat|
      %tr
        %td=avcat.unit_fuel.unit.vessel.pennent_no
        %td=avcat.unit_fuel.unit.name
        %td=avcat.quantity
    %tr
      %th{colspan: "3"} AVCAT : Others
    %tr
      %th{colspan: "2"} Unit / Depot
      %th Amount
    - @avcat_others.each do |avcat|
      %tr
        %td{colspan: "2"}=avcat.unit_fuel.unit.name
        %td=avcat.quantity
    

%table.table.table-bordered
  %thead  
    %tr
      %th AVTUR Usage
      %td=litres(@avtur_usage)
      
%table.table.table-bordered
  %tbody
    %tr
      %th{colspan: "3"} AVTUR : Vessel Usage Breakdown
    %tr
      %th Pennent No
      %th Vessel Name
      %th Amount
    - @avtur_vessel.each do |avtur|
      %tr
        %td=avtur.unit_fuel.unit.vessel.pennent_no
        %td=avtur.unit_fuel.unit.name
        %td=avtur.quantity
    %tr
      %th{colspan: "3"} AVTUR : Others
    %tr
      %th{colspan: "2"} Unit / Depot
      %th Amount
    - @avtur_others.each do |avtur|
      %tr
        %td{colspan: "2"}=avtur.unit_fuel.unit.name
        %td=avtur.quantity
    
    
      
