%td
 .btn-group.dropdown
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
   .span.caret
  %ul.dropdown-menu.pull-right.action_menu
   %li= link_to content_tag(:li, fa_icon("eye", text: (t 'actions.show'))), vessel
   - if can? :manage, :vessels
    %li= link_to content_tag(:li, fa_icon("pencil", text: (t 'actions.edit')+' Vessel Details')), edit_vessel_path(vessel)
   - if can? :manage, :units
    %li= link_to content_tag(:li, fa_icon("pencil", text: (t 'actions.edit')+' Vessel Name')), edit_unit_path(id: vessel.unit_id)
   - if can? :manage, :vessels
    %li.danger= link_to content_tag(:li, fa_icon("trash-o", text: (t 'actions.delete'))), vessel_path(vessel), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }