%td
 .btn-group.dropdown
  %button.btn.dropdown-toggle{"data-toggle" => "dropdown"}
   .span.caret
  %ul.dropdown-menu.pull-right.action_menu
   - if can? :read, :fuel_transactions
    %li= link_to content_tag(:li, fa_icon("eye", text: (t 'actions.show'))), fuel_transaction
   - if can? :update, :fuel_transactions
    /HACK
    - if (current_user.roles && current_user.roles[:user_roles][:administration]=="1") || Unit.is_depot.pluck(:id).include?(current_user.staff.unit_id)
     %li= link_to content_tag(:li, fa_icon("pencil", text: (t 'actions.edit'))), edit_fuel_transaction_path(fuel_transaction)
   - if can? :delete, :fuel_transactions
    /HACK
    - if (current_user.roles && current_user.roles[:user_roles][:administration]=="1") || Unit.is_depot.pluck(:id).include?(current_user.staff.unit_id)
     %li.danger= link_to content_tag(:li, fa_icon("trash-o", text: (t 'actions.delete'))), fuel_transaction_path(fuel_transaction), :method => :delete, :data => { :confirm =>  t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }
      