.page-header
  %h1
    Edit 
    = @fuel_transaction.transaction_type

- if @fuel_transaction.transaction_type == "Usage"
  = render 'form_usage'
-else
  = render 'form_resupply'

= link_to 'Back', fuel_transactions_path, class: "btn btn-default"
