%h1 Editing fuel_transaction

- if @fuel_transaction.transaction_type == "Usage"
  = render 'form_usage'
-else
  = render 'form_resupply'

= link_to 'Show', @fuel_transaction
\|
= link_to 'Back', fuel_transactions_path
