- provide(:title, 'Edit unit')
- model_class = Unit
.page-header
  %h1
    - if Unit.is_depot.pluck(:id).include?(@unit.id)
      =t 'units.edit2', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
    - else
      =t 'units.edit3', :default => [:'helpers.titles.new', 'Edit %{model}'], :model => model_class.model_name.human
= render :partial => 'form'
