@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* mixins, variables, etc. */
$light-gray: #777;
$gray-medium-light: #eaeaea;


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 2.7em;
  letter-spacing: -2px;
  margin-bottom: 10px;
  text-align: left;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {margin-top: 45px; padding-top: 5px; border-top: 1px solid #eaeaea; color: #777;
  a {color: #555;
    &:hover {color: #222;}
  }
  small {float: left;}
  ul {float: right; list-style: none;
    li {float: left; margin-left: 15px;}
  }
}



/* custom stylez */
#loginModal {
top:20%;
}

.index_main {border-left: 1px #CCC solid}


/* home page */
.jumbotron {
background-image:url('cover_art.jpg');
background-repeat:no-repeat;
background-position:right center;
margin-top: 40px;

  .overlay {background: rgba(0,0,0,0.5); padding:15px;
  h1 {color:#FFF !important; text-align:left;}
  h2 {color:#FFF !important; text-align:left; font-weight:normal; letter-spacing:3px;}
  }
}
